@import '../../global.scss';

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: $light-color;
  flex-grow: 1;
}

.no-products-message {
  display: flex;
  padding: 1em;
  font-size: 1.3em;
  flex-direction: column;
  justify-content: center;

  :first-child {
    font-size: 2.5em;
  }
}
