/*
* Global Secction
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --color-1: #ffe66dff; //color5, main
  --color-2: #1a535cff; // primary, color1
  --Color-3: #ff6b6bff; // secondary, color4
  --color-4: white; // light
  --color-5: rgb(34, 34, 34); //dark
  --icon-size: 35px;

  /*
    --dark: rgb(34, 34, 34);
    --light: white;
    --main: #ffe66dff;
    --primary: #1a535cff;
    --secondary: #ff6b6bff;
    --color1: #1a535cff;
    --color2: #4ecdc4ff;
    --color3: #f7fff7ff;
    --color4: #ff6b6bff;
    --color5: #ffe66dff;
    */
}
/* General styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  // color: var(--dark);
  font-family: "Montserrat", sans-serif;
}

.btn-icon,
.btn-icon:visited {
  cursor: pointer;
  font-size: var(--icon-size);
  color: #1a535cff;
}
.btn-icon:hover,
.btn-icon:active {
  color: var(--Color-3);
}
.btn-icon.hover {
  color: var(--Color-3);
}
svg.btn-icon path {
  fill: #1a535cff;
}
svg.btn-icon:hover path {
  fill: #ff6b6bff;
}
svg.btn-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
/*
* / Global Secction
*/
