@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
